target/
lib_managed/
src_managed/
project/boot/
project/project
bin/
.cache

logs/
target
tmp
.history
dist

# eclipse
.project
.classpath
.settings
.target
eclipse

# OSX Noise
.DS_Store

# Vim Noise
*.swp
