@(contents: List[models.Content])

@import org.jba.Mustache

@main("Mustache demo") {
	<h2>Template:</h2>
    <ul>
    	@for(content <- contents){
    		@Mustache.render("content_item", content)
    	}
    </ul>
    
	@* Log wrong template 
	@Mustache.render("notexist.html", contents) *@
    
  <h2>MAJAX</h2>
	<div id="majax"></div>
	
	
  <h2> Partial</h2>
  
  <ul>
    @for(content <- contents) {
      @* @Mustache.render("content_partial_item", content) *@
    }
  </ul>  	

  <h2>Partial MAJAX</h2>
  <div id="partialmajax"></div>	
}
    

<script type="text/javascript">
(function($) {
    $.getJSON('json', function(data) {
        var items = [];
        
        // MAJAX 
        for(var i in data){    
            //console.log(data[i]);
            items[i] = Mustache.render(MUSTACHE_TEMPLATES['content_item'], data[i]);
        }

        $('#majax').html('<ul>' + items.join('') + '</ul>');
        
        // MAJAX PARTIAL 
        for(var i in data){    
            console.log(data[i]);
            items[i] = Mustache.render(MUSTACHE_TEMPLATES['content_partial_item'], data[i], {users: MUSTACHE_TEMPLATES['users']});
        }

        $('#partialmajax').html('<ul>' + items.join('') + '</ul>');        
    });
})(jQuery);                    
</script>





